/**************************************************************************/
/* Root */
/**************************************************************************/
.root {
	-background:		    rgb( 22, 27, 34);
	-foreground:		    rgb(248,248,242);
	-current-line: 		    rgb( 68, 71, 90);
	-comment:               rgb( 98,114,164);

	-fx-font-family: 	    "arial";

	-fx-background-color: 	-background;
}
/**************************************************************************/
/* Label */
/**************************************************************************/
.label {
	-fx-font-weight: 	    normal;
	-fx-text-fill: 		    -foreground;
}
/**************************************************************************/
/* TextField */
/**************************************************************************/
.text-field, .combo-box-base, .text-area .content {
	-fx-font-weight: 	    normal;
	-fx-text-fill: 		    -foreground;
	-fx-border-width:	    1px 1px 1px 1px;
	-fx-border-color:	    -current-line;
	-fx-background-color:   transparent;
}
.text-field:focused, .combo-box-base:focused, .text-area .content:focused {
	-fx-border-color:       -comment;
}
/**************************************************************************/
/* TextArea */
/**************************************************************************/
.text-area {
	-fx-background-insets:  0;
}
/**************************************************************************/
/* Button */
/**************************************************************************/
.button {
	-fx-font-weight: 	    normal;
	-fx-text-fill: 		    -foreground;
	-fx-background-color:	transparent;
	-fx-background-radius:	2;
	-fx-pref-height:        22;
	-fx-border-width:	    1px;
	-fx-border-color:	    -current-line;
	-fx-border-radius:	    2;
}
.button:hover {
	-fx-background-color:	-comment;
	-fx-border-color:	    -foreground;
	-fx-border-width:	    1px;
}
/**************************************************************************/
/* ComboBox */
/**************************************************************************/
.combo-box .arrow {
	-fx-background-color:	-current-line;
}
.combo-box .arrow-button:hover {
	-fx-border-color:	    -comment;
}
.combo-box .arrow-button {
	-fx-background-color:	transparent;
    -fx-text-fill:   		-foreground;
	-fx-border-width:	    0px;
}
.combo-box-popup .list-view {
	-fx-background-color:	-background;
}
.combo-box .list-cell {
    -fx-text-fill:          -foreground;
    -fx-background-color:	-background;
}
.combo-box-popup .list-view .list-cell:filled:hover {
	-fx-border-width:   	0px;
    -fx-background-color:   -comment;
    -fx-text-fill:          -foreground;
}
.combo-box-popup .list-view .list-cell:selected {

}
/**************************************************************************/
/* DatePicker */
/**************************************************************************/
.date-picker {
	-fx-pref-width:		    124px;
}
.date-picker .button {
   -fx-background-color:	transparent;
   -fx-height:              16;
}
.date-picker .label {
	-fx-text-background-color:  -comment;
}
.date-picker, .combo-box, .button {
	-fx-background-insets:	0, -1;
}
.date-picker .text-field {
	-fx-border-width:       0px;
	-fx-border-color:	    transparent;
}
.date-picker .arrow-button {
	-fx-border-width:	    0px;
	-fx-background-color:	transparent;
}
.date-picker .arrow-button:hover {
	-fx-background-color:	-comment;
}
.date-picker .arrow-button .arrow {
	-fx-background-color:	-current-line;
}
.date-picker-popup .month-year-pane {
	-fx-base:		    -background;
	-fx-mark-highlight-color: -foreground;
}
.calendar-grid {
	-fx-background-color:   -foreground;
}
/**************************************************************************/
/* TableView */
/**************************************************************************/
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
	-fx-font-weight: 	    normal;
	-fx-text-fill: 		    -foreground;
	-fx-background-color: 	-background;
    -fx-border-width:    	0.05em;
    -fx-border-color: 	    -current-line;
}
.table-view .column-header .label {
	-fx-text-fill:		    -foreground;
	-fx-font-weight:	    normal;
}
.table-view .table-cell {
    -fx-border-style:       solid inside;
    -fx-border-color:       -current-line;
    -fx-border-width:       0.03px;
    -fx-padding:            2 0 2 10px;
}
.table-row-cell {
    -fx-background-color:   -foreground;
    -fx-padding:            0.0em;
}
.table-row-cell:hover {
    -fx-background-color:   -foreground;
    -fx-text-background-color:  -comment;
}
.table-row-cell:selected {
    -fx-background-color:   -comment;
    -fx-text-background-color:  -foreground;
}
/**************************************************************************/
/* ToolBar */
/**************************************************************************/
.tool-bar {
	-fx-background-color: 	transparent;
	-fx-border-width: 	0px;
}
/**************************************************************************/
/* TabPane */
/**************************************************************************/
TabPane {
	-fx-padding:		    4 8 0 8;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity:            0;
    -fx-background-insets:  0;
}
.tab-pane .tab {
    -fx-background-color:   transparent;
    -fx-border-width:   	0px;
}
.tab-pane .tab:selected {
    -fx-background-color:   -current-line;
    -fx-border-width:   	0px;
    -fx-background-insets:  0, 1 1 0 1;
    -fx-text-base-color:    -foreground;
}
.tab-pane .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width:       0px;
}
.tab-content-area {
	-fx-border-width:   	0px;
	-fx-padding:		    4;
}
/**************************************************************************/
/* TitledPane */
/**************************************************************************/
TitledPane {
	-fx-padding:		    8 16 0 16;
	-fx-text-fill: 		    -foreground;
}
TitledPane .title,
TitledPane .content {
	-fx-background-color:	transparent;
}
TitledPane .title{
	-fx-font-weight:	    bold;
	-fx-border-width:   	0px;
	-fx-background-radius:	0;
	-fx-background-color:	linear-gradient(to right, -current-line, -background);
}
TitledPane .content{
	-fx-font-weight:	    normal;
	-fx-border-width:   	0px;
}
/**************************************************************************/
/* Titulo do APP */
/**************************************************************************/
#title {
	-fx-font-size:		    14pt;
}
/**************************************************************************/
/* HBox */
/**************************************************************************/
.HBox {
	-fx-alignment:		    center-left;
	-fx-spacing:		    8;
	-fx-padding:		    4 8 0 8;
}
/**************************************************************************/
/* VBox */
/**************************************************************************/
.VBox {
	-fx-spacing:		    8;
}
/**************************************************************************/
/* GridPane */
/**************************************************************************/
GridPane {
	-fx-padding:		    4;
	-fx-hgap:		        4;
	-fx-vgap:		        4;
}
/**************************************************************************/
/* Id Fixo */
/**************************************************************************/
.text-field-id {
    -fx-font-weight: 	    bold;
    -fx-alignment:          center-right;
    -fx-text-inner-color:   -comment;
}
/**************************************************************************/
/* StatusBar */
/**************************************************************************/
.status-bar {
    -fx-padding:		    8 8 8 8;
}
/**************************************************************************/
/* Menu */
/**************************************************************************/
.menu-bar {
    -fx-background-color:   linear-gradient(to right, -comment, -current-line);
}
.menu-bar .label {
    -fx-font-family:        "arial";
    -fx-text-fill:          -foreground;
    -fx-font-weight:        normal;
    -fx-padding:            3.0px 6.0px 3.0px 6.0px;
}
.menu-item {
    -fx-padding:            0.0em 0.0em 0.0em 0.0em;
    -fx-text-fill:          -foreground;
}
.menu-item .label {
    -fx-text-fill:          -comment;
}
.menu-item .label:hover {
    -fx-background:         -background;
    -fx-text-fill:          -foreground;
}