.root {
	-color-black: 		rgb(  0,  0,  0);
	-color-white: 		rgb(255,255,255);
	-color-red: 		rgb(104, 55, 43);
	-color-cyan: 		rgb(112,164,178);
	-color-purple: 		rgb(111, 61,134);
	-color-green: 		rgb( 88,141, 67);
	-color-blue: 		rgb( 53, 40,121);
	-color-yellow: 		rgb(184,199,111);
	-color-orange: 		rgb(111, 79, 37);
	-color-brown: 		rgb( 67, 57,  0);
	-color-light-red: 	rgb(154,103, 89);
	-color-dark-grey: 	rgb( 68, 68, 68);
	-color-grey: 		rgb(108,108,108);
	-color-light-green:	rgb(154,210,132);
	-color-light-blue: 	rgb(108, 94,181);
	-color-light-grey:	rgb(149,149,149);

	-fx-font-family: 	"sans-serif";

	-fx-background-color: 	-color-light-grey;
}

.label, .button {
	-fx-font-weight: 	bold;
	-fx-text-fill: 		-color-black;
}

.text-field, .combo-box {
    	-fx-border-style: 	solid;
	-fx-border-width:	1px 1px 1px 1px;
	-fx-border-color:	-color-dark-grey -color-white -color-white -color-dark-grey;
}

.button {
	-fx-background-color:	-color-white;
	-fx-background-radius:	5;

	-fx-border-style:	solid;
	-fx-border-width:	1px;
	-fx-border-color:	-color-dark-grey;
	-fx-border-radius:	2;
}

.combo-box .arrow {
	-fx-background-color:	-color-black;
}

.combo-box .arrow-button:hover {
	-fx-background-color:	-color-yellow;
}
.combo-box .arrow-button {
	-fx-background-color:	-color-light-grey;
	-fx-background-radius:	0;
    	-fx-border-style: 	solid;
	-fx-border-width:	0px 0px 0px 1px;
	-fx-border-color:	-color-dark-grey -color-white -color-white -color-grey;
}

.combo-box .list-cell {
    	-fx-background-color:	-color-white;
}

.date-picker {
	-fx-pref-width:		108px;
}
.date-picker, .combo-box, .button {
	-fx-background-insets:	0, 1;
}
.date-picker .arrow-button {
	-fx-background-color:	-color-light-grey;
	-fx-background-radius:	0;
    	-fx-border-style: 	solid;
	-fx-border-width:	1px 1px 1px 1px;
	-fx-border-color:	-color-dark-grey -color-white -color-white -color-grey;
}
.date-picker .arrow-button:hover {
	-fx-background-color:	-color-yellow;
}
.date-picker .arrow-button .arrow {
	-fx-background-color:	-color-black;
}

.tool-bar {
	-fx-background-color: 	-color-light-grey;
	-fx-border-style: 	solid;
    	-fx-border-width: 	0px 0px 1px 0px;
    	-fx-border-color: 	-color-black;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
	-fx-font-weight: 	normal;
	-fx-text-fill: 		-color-grey;
	-fx-background-color: 	-color-light-grey;
	-fx-border-style: 	solid;
    	-fx-border-width: 	0px 0px 1px 0px;
    	-fx-border-color: 	-color-grey;
}

.table-view .column-header .label {
	-fx-text-fill:		-color-white;
	-fx-font-weight:	normal;
}

TitledPane {
	-fx-padding:		8 8 0 8;
	-fx-text-fill:		-color-black;
}
TitledPane .title,
TitledPane .content {
	-fx-background-color:	-color-light-grey;
	-fx-border-style:	solid;
	-fx-border-width:	1px 1px 1px 1px;
	-fx-border-color:	-color-white -color-dark-grey -color-dark-grey -color-white;
}
TitledPane .title{
	-fx-font-weight:	bold;
}

#title {
	-fx-font-size:		14pt;
}

.HBox {
	-fx-alignment:		center-left;
	-fx-spacing:		4;
}

GridPane {
	-fx-padding:		5;
	-fx-hgap:		5;
	-fx-vgap:		5;
}

.text-field-id {
	-fx-background-color:	-color-light-green;
    	-fx-border-style: 	solid;
	-fx-border-width:	1px 1px 1px 1px;
	-fx-border-color:	-color-dark-grey -color-white -color-white -color-dark-grey;
}